@font-face {
    font-family: 'Gabarito';
    src: url('/fonts/Gabarito-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('/fonts/Gabarito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Плавный скролл
     */
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-dark: #000000;
    --color-white: #ffffff;
    --container-width: 1300px;
    --container-padding-x: 15px;
}

body {
    background-image: url("images/backgroundsvetlojar.png");
    background-repeat: no-repeat;
    font-family: 'Gabarito', sans-serif;
    background-size: cover;
    color: var(--color-white);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.logo {
    margin-left: 26px;
    margin-top: 38px;
    display: flex;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.timer-text {
    display: flex;
    column-gap: 25px;
    margin-right: 80px;
    margin-top: 38px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    cursor: default;
    flex-wrap: wrap;
}


.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container2 {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
    display: flex; /* Используем Flexbox для горизонтального выравнивания */
    justify-content: space-between; /* Распределяем пространство между блоками */
    align-items: flex-start; /* Выровняем блоки по верхнему краю */
    flex-wrap: nowrap; /* Не позволяем элементам переноситься на новую строку */
    margin-top: 40px; /* Отступ сверху для контейнера */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

a {
    width: 525px;
    height: 79px;
}

.title-wb {
    cursor: default;
    padding-top: 21px;
    padding-bottom: 23px;
}

.affair {
    font-size: 34px;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 23px;
}

.background-blur {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(50px);
}

.prize-form {
    height: 343px;
}

.new-prize {
    align-content: start;
    display: flex;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-left: 131px;
    padding-top: 19px;
    height: 0px;
    text-transform: uppercase;
}

.prize-img {
    width: 400px;
    height: 271px;
    margin-left: 58px;
    margin-top: 10px;
    display: inline-block;
}

.order-form {
    display: inline-block;
    max-width: 390px;
    padding: 0px 0 21px 0;
    box-sizing: border-box;
    margin-left: 400px;
}

.order-form-inputs {
    margin-top: 31px;
}

.order-form-inputs input[type="text"] {
    border: 1px solid var(--color-white);
    border-radius: 60px;
    margin-bottom: 16px;
    padding: 24px 22px;
    width: 387px;
    height: 68px;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.button {
    width: 387px;
    height: 68px;
    border: none;
    border-radius: 60px;
    background-color: #323232;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    color: #c3c3c3;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 15px 22px;
    border: 1px solid white;
    width: 387px;
    height: 68px;
    border-radius: 60px;
    background-color: #323232;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    color: #c3c3c3;
    display: inline-block;
    margin-bottom: 12px;
    text-align: center;
}

.agreement {
    width: 20px;
    font-size: 16px;
    margin-left: -3px;
    align-content: center;
}

.back-winners, .back-members {
    width: 543px;
    height: 325px;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(50px);
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column; /* Устанавливаем направление flex-элементов по вертикали */
    justify-content: flex-start; /* Выровнять элементы по началу контейнера */
    padding: 20px; /* Внутренние отступы для блоков */
}


.back-members {
    margin-left: 110px; /* Добавляем отступ между блоками */
}

.winners, .new-members {
    display: flex;
    flex-direction: column; /* Устанавливаем направление flex-элементов по вертикали */
    align-items: flex-start; /* Выровнять элементы по началу контейнера */
    width: 100%; /* Заполняем всю ширину родительского контейнера */
    margin-top: -40px;
}

.winners-title {
    width: 410px;
    height: 39px;
    margin-left: 60px; /* Выравниваем элемент по правому краю */
    font-size: 30px;
    margin-top: 0; /* Убираем отрицательный отступ */
    padding-bottom: 10px;
    font-weight: 700;
    color: var(--color-dark);
    text-transform: uppercase;

}

.new-members-title {
    width: 410px;
    height: 39px;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 0; /* Убираем отрицательный отступ */
    padding-bottom: 10px;
    font-weight: 700;
    color: var(--color-dark);
    text-transform: uppercase;
}

.winners-line {
    width: 450px;
    height: 4px;
    background-color: #BEBEBE;
    margin-bottom: 8px;
    margin-top: 8px;
    align-self: center; /* Выравниваем элемент по правому краю */
}

.winners-line2 {
    width: 450px;
    height: 4px;
    background-color: #BEBEBE;
    margin-bottom: 8px;
    margin-top: 20px;
    align-self: center; /* Выравниваем элемент по правому краю */
}

.photos {
    width: 175px;
    height: 256px;
    background-color: transparent;
    top: 20px;
    align-self: center;
}

.column {
    display: flex;
    flex-direction: column; /* Элементы внутри будут выравнены по вертикали */
    gap: 10px; /* Пространство между записями */
    flex: 1; /* Все колонки будут равной ширины */
    margin-top: 25px;
}

.entry {
    display: flex;
    justify-content: space-between; /* Распределяем пространство между именем и телефоном */
    background-color: rgba(255, 255, 255, 0.7); /* Пример фона для записей */
    padding: 10px; /* Внутренние отступы для записей */
    border-radius: 5px; /* Сглаженные углы */
}

.name, .phone {
    flex: 1; /* Равномерное распределение пространства между именем и телефоном */
    text-align: center; /* Центрируем текст */
    font-weight: 700;
    color: var(--color-dark);
}

.photos {
    width: 180px;
    height: 256px; /* Или другой подходящий размер */
    position: relative;
    margin-top: -20px;
}

.slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Все слайды скрыты, показывается только один */
    width: 100%;
    height: auto; /* Высота изменяется автоматически */
    object-fit: cover; /* Обрезаем изображение по границам контейнера */
    max-height: 100%; /* Ограничиваем максимальную высоту изображения */

}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: -70px; /* Расположение слева от слайдера */
}

.right {
    right: -70px; /* Расположение справа от слайдера */
}

/* Стили для изображений */
.photos img {
    width: 240px;
    height: 378px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

/* Увеличение изображения при нажатии */
.photos img.zoomed {
    transform: scale(1.5); /* Увеличиваем на 1.5 раза */
    z-index: 1000; /* Изображение будет поверх других */
}

/* Центрируем увеличенное изображение */
.zoomed {
    position: fixed;
    top: -50%;
    left: 25%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1000;
}

@media (max-width: 1600px) {
    .header {
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .timer-text {
        order: 1;
        flex-basis: 100%;
        padding-left: 26px;
        height: auto;
        font-size: 30px;
    }
}

@media (max-width: 1028px) {
    .header {
        flex-wrap: wrap;
    }

    .timer-text {
        order: 1;
        flex-basis: 100%;
        padding-left: 26px;
        height: auto;
    }

    .dorozgr {
        padding-left: 155px;
    }
}

@media (max-width: 680px) {
    .header {
        flex-wrap: wrap;
    }

    .timer-text {
        order: 1;
        flex-basis: 100%;
        padding-left: 26px;
        height: auto;
        font-size: 24px;
    }

    .dorozgr {
        padding-left: 105px;
    }

    .timer-text2 {
        padding-left: 5px;
        font-size: 20.8px;
    }

    .logo {
        width: 360px;
        margin-left: 15px;
    }

    @media (max-width: 520px) {
        .header {
            flex-wrap: wrap;
        }

        .timer-text {
            order: 1;
            flex-basis: 100%;
            padding-left: 26px;
            height: auto;
            font-size: 24px;
            margin-top: 0px;
        }

        .dorozgr {
            padding-left: 42px;
            width: 350px;

        }

        .timer-text2 {
            margin-left: 0px;
            padding-left: 0px;
            font-size: 12.5px;

        }

        .bad1 {
            padding-left: 30px;
        }

        .logo {
            width: 335px;
            margin-left: 15px;
        }
    }
    @media (max-width: 768px) {


        .order-form-inputs {
            margin-top: 0px;
        }

        .imgsvg {
            width: 200px;
            height: 125px;
            margin-left: 105px;
        }

        .prize-img {
            width: 200px;
            height: 125px;
            padding-top: 35px;
        }

        .container {
            margin-top: -35px;
            padding-inline: 15px;
            display: flex;
        }

        a {
            width: 100%;
            height: auto;
        }

        .affair {
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .new-prize {
            font-size: 28px;
            padding-top: 1px;

        }

        .prize-img {
            width: 100%;
            height: auto;
            margin-left: 0;
        }

        .order-form {
            max-width: 100%;
            margin-left: 0;
            padding: 0;
        }

        .order-form-inputs input[type="text"] {

            width: 100%;
            padding: 16px;
            font-size: 20px;
        }

        .button {
            width: 100%;
            padding: 16px;
            font-size: 20px;

        }

        .custom-file-upload {
            width: 100%;
            padding: 16px;
            font-size: 20px;
        }

        .agreement {
            width: auto;
            font-size: 14px;
            margin-left: 0;
        }
    }
    @media (max-width: 650px) {
        .container2 {
            flex-direction: column; /* Переключаем направление на вертикальное */
            align-items: center; /* Центрируем элементы */
        }

        .back-winners {
            order: 1; /* Назначаем порядок для .back-winners */
            margin-bottom: 20px; /* Добавляем отступ снизу */
        }

        .back-members {
            order: 3; /* Переносим .back-members под .new-members */
            margin-left: 0px;
        }

        .new-members {
            order: 2; /* Назначаем порядок для .new-members под .back-winners */
            width: 100%; /* Занимает всю ширину экрана */
            margin-top: 20px; /* Отступ сверху для визуального разделения */
            margin-left: 0px;
        }

        .winners-title, .new-members-title {
            font-size: 24px; /* Уменьшаем размер заголовков */
            text-align: center; /* Центрируем заголовки */
        }

        .winners-line, .winners-line2 {
            width: 80%; /* Уменьшаем ширину линий */
            margin: 10px auto; /* Центрируем и добавляем отступы */
        }

        .photos {
            width: 140px;
            height: auto;
            margin-top: 15px;
        }

        .entry {
            font-size: 16px;
            padding: 10px;
        }

        .name, .phone {
            font-size: 16px;
            text-align: center;
        }
    }
    @media (max-width: 565px) {
        .back-winners {
            width: 343px;
            height: 225px;
            align-self: center;
        }

        .back-members {
            width: 343px;
            height: 225px;
            align-self: center;
        }

        .winners-title {
            width: 250px;
            margin-right: 0px;
            margin-left: 20px;
            font-size: 18px;
        }

        .new-members-title {
            width: 250px;
            margin-right: 0px;
            margin-left: 25px;
            font-size: 18px;
        }

        .column {
            margin-top: -15px;
        }

        .new-members {
            margin-top: 0px;
        }

        .timer-text {
            width: 370px;
            margin-right: 0px;
        }

        .winners-line2 {
            display: none;
        }
        .new-prize {
            margin-left: 5px;
            padding-left: 75px;
            text-align: center;
        }


        .back-winners {
            display: flex;
            flex-direction: column; /* Элементы внутри блока будут расположены вертикально */
            align-items: center; /* Центрируем содержимое */
            padding: 10px; /* Добавляем отступы для эстетики */
        }

        .winners-title {
            margin-bottom: -45px; /* Отступ между заголовком и слайдером */
            margin-right: 22px;
            text-align: center; /* Выравниваем текст по центру */
        }

        .slides-container {
            width: 100%; /* Занимает всю ширину родителя */
            margin-top: 0px; /* Отступ сверху */
            margin-left: 2px;
        }

        .slide {
            display: block; /* Показываем слайд */
            margin: 0 auto; /* Центрируем изображение */
        }
        .timer-text {
            text-align: start;
        }
        .photos img {
            width: 140px;
            height: 178px;
            transition: transform 0.3s ease, z-index 0.3s ease;
        }

        /* Увеличение изображения при нажатии */
        .photos img.zoomed {
            transform: scale(2.5); /* Увеличиваем на 1.5 раза */
            z-index: 1000; /* Изображение будет поверх других */
        }

        /* Центрируем увеличенное изображение */
        .zoomed {
            position: fixed;
            top: -50%;
            left: 32%;
            transform: translate(-50%, -50%) scale(1);
            width: 140px;
            height: 178px;
            z-index: 1000;
        }
    }
}

